td{
    padding: 10px;
    text-align: left;
    color: #9B4751;
}

th{
    padding: 5px;
    text-align: left;
}

table{
    background-color: #e5e5e5;
}

body{ 
    background-color: #ababab;
    padding: 40px;
    color: #78373f;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.edit_title{
    background-color: white;
    padding: 10px;
    line-height: 1.45;
}

.edit_table{
    padding-top: 20px;
    padding-left: 50px;
}

.header{
    text-align: center;
    color: #78373f;
    font-family: "Candal", sans-serif;
    font-weight: 800;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.date{
    color: #57647e;
    font-family: Inter, sans-serif;
    font-size: .75em;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 2px;
}

.date_box{
    font-size: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #b8bdc9;
    width: 300px;
    height: 40px;
    font-family: Inter, sans-serif;
    padding-left: 0.625em;
}

label{
    display: inline-block;
    padding-left: 10px;
    min-height: 20px;
    font-size: .94em;
    position: relative;
    cursor: pointer;
    padding-right: 100px;
}

.padding_one{
    padding-right: 50px;
}

.padding_two{
    padding-right: 118px;
}

.padding_three{
    padding-right: 15px;
}

.submit_box{
    height: 3em;
    color: #fff;
    background: linear-gradient(0deg,#888 0,#575757);
    border: 1px solid #555;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: normal;
    margin-right: 30px;
    justify-content: center;
    border-radius: 4px;
    width: 27%;
}

.text_align{
    text-align: center;
    padding-bottom: 40px;
}

.comment_box{
    border-color: #b8bdc9;
    font-size: 1em;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: block;
    padding: 0.625em;
    min-height: 2.5em;
    font-family: inherit;
    /* width: 90%; */
}

.padding_four{
    padding-top: 90px;
}

.try{
    color: blue;
}

/* .radio_box{
    background-color: #fff;
    border-color: #b8bdc9;
    border-radius: 50%;
    transition: border-color .15s;
    width: 20px;
    height: 20px;
    border: 1px solid;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
} */

/*
distance between question and answers

width: 100%;
margin-left: 2px
margin-bottom: 14px;
*/

/*
For check circles:

    

*/